body{
    background-color: rgb(233, 106, 233);
}

h1{
    color: darkcyan;
    text-shadow: 2px 2px white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

h2{
    color: rgb(211, 34, 63);
    font-family: 'Tahoma'
}

h3{
    color: rgb(179, 81, 16);
    font-size: 14px;
    font-family: 'Tahoma'
}

h4{
    color: rgb(26, 104, 100);
    font-size: 16px;
    font-family: 'Tahoma'
}
button{
    background-color: yellowgreen;
    color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size: 25;
}
body{
    text-align: center;
}
.error{
    color: red;
}

ul{
    text-align: center;
}